<mat-card class="reading-card">
  <ng-container *ngIf="(bookmarks$ | async) as bookmarks; else loading">
    <mat-list *ngIf="bookmarks.length; else noBookmarks">
      <h2 mat-subheader>Bookmarks</h2>
      <mat-list-item
        *ngFor="let bookmark of bookmarks; last as last; index as index"
      >
        <fa-icon mat-list-icon [icon]="faFile" area-label="File icon"></fa-icon>
        <h4 mat-line>PubMed: {{ bookmark.pmid }}</h4>

        <mat-action-list>
          <!--button (click)="view(bookmark.pmid)">
          <mat-icon>visibility</mat-icon>
        </button-->
          <button mat-icon-button (click)="removeBookmark(bookmark.$key)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-list>

        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </ng-container>

  <ng-template #noBookmarks>
    <mat-icon aria-label="Sad face icon">face</mat-icon>
    Sorry, there are no bookmarks.
  </ng-template>

  <ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>
</mat-card>
