<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="search-card">
    <mat-card-header>
      <mat-icon mat-card-avatar aria-label="Search PubMed">search</mat-icon>
      <mat-card-title>Search</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="e.g. Fragile X"
              required
              formControlName="terms"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Search</button>
    </mat-card-actions>

    <mat-progress-bar mode="indeterminate" *ngIf="waiting"></mat-progress-bar>

    <ng-container *ngIf="response">
      <ng-container *ngIf="articles.length; else zeroResults">
        <span>TODO paginator</span>
        <mat-card
          class="search-card"
          *ngFor="let article of articles; last as last; index as index"
        >
          <mat-card-content>
            <div id="{{ 'record-' + index }}"></div>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [routerLink]="['/reader', article.pmid]">Bookmark</a>
          </mat-card-actions>
        </mat-card>
      </ng-container>

      <ng-template #zeroResults>
        <mat-card class="search-card">
          <mat-card-content>
            Sorry, there are no results. Please, try again.
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ng-container>
  </mat-card>
</form>
