<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="search-card">
    <mat-card-header>
      <mat-icon mat-card-avatar aria-label="Search PubMed">search</mat-icon>
      <mat-card-title>Search</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="e.g. Fragile X"
              required
              formControlName="terms"
            />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-progress-bar mode="indeterminate" *ngIf="waiting"></mat-progress-bar>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Search</button>
    </mat-card-actions>

    <ng-container *ngIf="waiting === false && response">
      <span>TODO paginator</span>
      <mat-card
        class="search-card"
        *ngFor="let article of articles; last as last; index as index"
      >
        <mat-card-content>
          <div id="{{ 'record-' + index }}"></div>
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-raised-button
            color="primary"
            [routerLink]="['reader', article.pmid]"
            >Bookmark</a
          >
        </mat-card-actions>
      </mat-card>
    </ng-container>

    <!--
    <mat-list *ngIf="waiting === false && response">
      <h2 mat-subheader>Articles</h2>
      <mat-list-item
        *ngFor="let article of articles; last as last; index as index"
      >
        <div id="{{ 'record-' + index }}"></div>

        <fa-icon mat-list-icon [icon]="faFile">file</fa-icon>
        <h4 mat-line>{{ article | json }}</h4>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
    -->
  </mat-card>
</form>
